.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.btn--start {
  background-color: ForestGreen;
}
.btn--stop {
  background-color: ForestGreen;
}
.btn--interval {
  background-color: Gold;
}
.btn--reset {
  background-color: DarkRed;
}
